**.class
/**/*.class
**/*.class
.classpath
.project
data/*
rapport/**.aux
rapport/**.dvi
rapport/**.log
rapport/**.pdf
rapport/**.synctex.gz
rapport/**.toc
bin/*
**.ai
**kdv_*.txt
kdv_node_unload.txt
kdv_unload.txt
